<label for="username">Username: </label>
<input
  [(ngModel)]="username"
  type="text"
  name="username"
  placeholder="Type username"
/>
<p>{{ username }}</p>

<button [disabled]="!username" (click)="resetUser()" type="button">
  Reset User
</button>

<button [disabled]="!username" (click)="addUser(username)" type="button">
  Add User
</button>

<p *ngIf="username; else noUser">
  There is a user already yeah!! The name is {{ username }}
</p>

<p *ngIf="userCleared && !username">
  {{ usernameBeforeClear }} no longer exists
</p>

<ng-template #noUser> <p>There is no username</p> </ng-template>

<p
  [ngClass]="{ online: serverStatus === 'online' }"
  [ngStyle]="{ backgroundColor: getColor() }"
>
  {{ serverStatus }}
</p>

<ul>
  <li *ngFor="let user of users">{{ user }}</li>
</ul>
